.brand-btn {
	border: none;
	background: none;
	font-weight: 500;
	font-size: 16px;
	color: #555;
	position: relative;
	cursor: pointer;
	padding: 6px 12px;
}

.brand-btn.active {
	color: #ff5c00;
	border: 1px dashed #ff5c00;
	border-radius: 20px;
}

#brandList {
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
}

#brandList::-webkit-scrollbar {
	display: none;
}